.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.parallax-content {
    text-align: center;
    padding-top: 17%;
    color: #fff;
}

.parallax-content .small-header-text {
    letter-spacing: 1.8rem;
    font-weight: 400;
    font-size: 30px;
}

.parallax-content .main-header-text {
    font-weight: 700;
    font-size: 150px;
}

@media(max-width:1100px) {
    .parallax-content .main-header-text {
        font-size: 130px;
    }
    .parallax-content .small-header-text {
        font-size: 28px;
    }
}

@media(max-width:1000px) {
    .parallax-content .main-header-text {
        font-size: 110px;
    }
    .parallax-content .small-header-text {
        font-size: 26px;
    }
}

@media(max-width:850px) {
    .parallax {
        height: 90vh;
    }
    .parallax-content .main-header-text {
        font-size: 90px;
    }
    .parallax-content .small-header-text {
        font-size: 22px;
    }
}

@media(max-width:675px) {
    .parallax {
        height: 80vh;
    }
    .parallax-content .main-header-text {
        font-size: 70px;
    }
    .parallax-content .small-header-text {
        font-size: 17px;
    }
}

@media(max-width:400px) {
    .parallax-content .main-header-text {
        font-size: 50px;
    }
    .parallax-content .small-header-text {
        font-size: 14px;
    }
}