.Footer {
    background-color: var(--dark-white-color);
    padding-top: 3rem;
}

.Footer .Logo span {
    color: black;
    margin: 1rem 0;
}

.Footer .Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer .NavItem ul li {
    color: var(--light-gray-color);
}

.Footer .NavItem ul {
    max-width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
}

.Footer hr {
    max-width: 70vw;
    margin: 1rem auto;
}

.Footer div {
    text-align: center;
    padding: .5rem 0;
}