.OurTeam {
    padding-top: 5rem;
    position: relative;
    height: 100%;
}

.ourTeamHeader {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.ourTeamHeader h1 {
    font-size: 42px;
    color: var(--black-color);
    margin-top: 1rem;
}

.ourTeamHeader span {
    font-size: 14px;
    letter-spacing: .8rem;
}

.slideContainer {
    max-width: 80vw;
    margin: 0 auto;
}

.slideText {
    position: relative;
    bottom: 5rem;
    left: 1rem;
    text-align: start;
}

.OurTeam img {
    height: 30rem;
}

.slick-prev {
    position: absolute;
    left: 20px;
    z-index: 1;
}

.slick-next {
    position: absolute;
    right: 20px;
    z-index: 1;
}

/* the slides */
.slick-slide {
    margin: 0 15px;
}

/* the parent */
.slick-list {
    margin: 0 -15px;
    height: 33rem;
}

@media(max-width:650px) {
    .ourTeamHeader h1 {
        font-size: 25px;
    }
}