.Nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 1rem;
}

.Nav .NavLink ul {
    list-style-type: none;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.Nav .NavLink ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

@media(max-width:850px) {
    .Nav {
        flex-direction: column;
    }
    .Nav .NavLink ul {
        margin-top: 2rem;
        width: 300px;
    }
}