.slide img {
    width: 100%;
}

.slide {
    margin: 0 1rem;
}

.slide-text {
    position: relative;
    bottom: 8rem;
    left: 10px;
    text-align: start;
    color: #fff;
}

.teamImage {
    width: 350px;
    height: 400px;
}